<div class="p-grid">
    <div class="p-col-12">
  
      <p-toast></p-toast>
  
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedPermissions()" [disabled]="!selectPermissions || !selectPermissions.length"></button>
          </ng-template>
  
          <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
  
        <p-table #dt [value]="permissions" [columns]="cols" [rows]="10" [paginator]="true"
          [globalFilterFields]="['perCode','perName','perCatName']" [(selection)]="selectPermissions"
          [rowHover]="true" dataKey="PER_ID" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Permission Menu</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="perCode" class="p-col-3">Permission code <p-sortIcon field="perCode"></p-sortIcon>
              </th>
              <th pSortableColumn="perName" class="p-col-3">Permission name <p-sortIcon field="perName"></p-sortIcon>
              </th>
              <th pSortableColumn="perName" class="p-col-3">Permission category <p-sortIcon field="perName"></p-sortIcon>
              </th>
              <th class="p-col-2"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-permission>
            <tr>
              <td>
                <p-tableCheckbox [value]="permission"></p-tableCheckbox>
              </td>
              <td>{{permission.PER_CODE}}</td>
              <td>{{permission.PER_NAME}}</td>
              <td>{{permission.PER_CAT_NAME}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="editPermission(permission)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deletePermission(permission)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              Total {{permissions ? permissions.length : 0 }} permission.
            </div>
          </ng-template>
        </p-table>
      </div>
  
      <p-dialog [(visible)]="permissionDialog" [style]="{width: '450px'}" header="Permission Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Permission name</label>
            <input type="text" pInputText id="perName" [(ngModel)]="permission.PER_NAME"  required/>
            <small class="p-invalid" *ngIf="submitted && !permission.perName ">Permission name is required.</small>
          </div>
          <div class="p-field">
            <label for="perName">Permission code</label>
            <input type="text" pInputText id="perCode" [(ngModel)]="permission.PER_CODE"  required/>
            <small class="p-invalid" *ngIf="submitted && !permission.perCode ">Permission code is required.</small>
          </div>
          <div class="p-field" *ngIf="categories" >
            <label for="perName">Permission category</label>
            <p-dropdown 
              placeholder="Chọn một quyền"
              appendTo="body"
              [options]="categories" 
              optionLabel="perCatName" 
              optionValue="perCatCode" 
              [(ngModel)]="selectCategory" 
              [showClear]="true"
            >
              <ng-template ng-template let-item pTemplate="item">
                <div>{{item.value.perCatName}}</div>
              </ng-template>
              
            </p-dropdown>
          </div>
         
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePermission()"></button>
        </ng-template>
      </p-dialog>
  
      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
  </div>
  