<p-toast></p-toast>
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        
        <p-dropdown placeholder="Chọn khóa học" [options]="querys" [(ngModel)]="selectQuery"  class="p-mr-2"></p-dropdown>
        <button pButton pRipple label="Tìm" icon="pi pi-search" class="p-button-success p-mr-2"
        (click)="loadSearch()"></button>
    </ng-template>
    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
        (click)="dt.exportCSV()"></button>
    </ng-template>
  </p-toolbar>

<p-table  #dt 
[value]="users" 
[rows]="10" 
[columns]="cols"
[paginator]="true" 
[globalFilterFields]="['fullname','cmnd','type',
'address','dob','sex','email','phone']"
[(selection)]="selectUsers" 
[rowHover]="true" 
dataKey="_id"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Users</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Họ và tên</th>
            <th>Kiểm tra lần 1</th>
            <th>Kiểm tra lần 2</th>
            <th>Kiểm tra giữa kì</th>
            <th>Kiểm tra cuối kì</th>
            <th>Thi học kì</th>
            
            <th>Tổng điểm(Hệ 10)</th>
            <th>Tổng điểm(Hệ 4)</th>
            <th>Xếp loại</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>
                <div class="p-grid">
                  <div class="p-col-12">
                    {{user.fullname}}
                  </div>
                  <div class="p-col-12">
                    CMND: {{user.cmnd}}
                  </div>
                </div>
              </td>
              <td>
                <div class="p-grid">
                    <div class="p-col-12">
                      Email: {{user.email}}
                    </div>
                    <div class="p-col-12">
                      Phone: {{user.phone}}
                    </div>
                  </div>
            </td>
            <td>{{user.address}}</td>
            <td>{{loadType(user.type)}}</td>
            <td>{{user.dob | date: "dd/MM/yyyy"}}</td>
            <td>{{user.sex ? 'Nam' : 'Nữ'}}</td>
            <td>{{user.sex ? 'Nam' : 'Nữ'}}</td>
            <td>{{user.sex ? 'Nam' : 'Nữ'}}</td>
            <td>{{user.sex ? 'Nam' : 'Nữ'}}</td>
            
           
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>