<div class="p-grid">
    <div class="p-col-12">
  
      <p-toast></p-toast>
  
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedRoles()" [disabled]="!selectedRoles || !selectedRoles.length"></button>
          </ng-template>
  
          <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
  
        <p-table #dt [value]="roles" [columns]="cols" [rows]="10" [paginator]="true"
          [globalFilterFields]="['roleName','description','userName','active']" [(selection)]="selectedRoles"
          [rowHover]="true" dataKey="roleId" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Manage Roles</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="roleName" class="p-col-3">Name <p-sortIcon field="roleName"></p-sortIcon>
              </th>
              <th pSortableColumn="description" class="p-col-3">Description <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th pSortableColumn="userName" style="text-align: center;" class="p-col-2">Users <p-sortIcon field="userName"></p-sortIcon>
              </th>
              <th pSortableColumn="active" style="text-align: center;" class="p-col-2">Active <p-sortIcon field="active">
                </p-sortIcon>
              </th>
              <th class="p-col-2" style="text-align: center;">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-role>
            <tr>
              <td>
                <p-tableCheckbox [value]="role"></p-tableCheckbox>
              </td>
              <td>{{role.roleName}}</td>
              <td>{{role.description}}</td>
              <td style="text-align: center;">{{role.userName}}</td>
              <td style="text-align: center;">
                <p-checkbox 
                  [binary]="role.active"
                  value="role.active" 
                  [value]="role.active" 
                  [editable]="false"  
                  [(ngModel)]="role.active" 
                  name="chb"
                  [disabled]="true" ></p-checkbox>
              </td>
              <td style="text-align: center;">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="editRole(role)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteRole(role)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              Tổng cộng có {{roles ? roles.length : 0 }} vai trò.
            </div>
          </ng-template>
        </p-table>
      </div>
  
      <p-dialog [(visible)]="roleDialog" [style]="{width: '450px'}" header="Role Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="roleName" [(ngModel)]="role.roleName" required/>
            <small class="p-invalid" *ngIf="submitted && !role.roleName ">Name is required.</small>
          </div>
          <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="role.description" required rows="3"
              cols="20"></textarea>
          </div>
          <div class="p-field-checkbox">
            <p-checkbox 
                  [binary]="true"
                  [value]="status" 
                  [(ngModel)]="status" 
                  name="chb"
                  [disabled]="false" ></p-checkbox>
            <label for="ch">Trạng thái</label>
           </div>
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRole()"></button>
        </ng-template>
      </p-dialog>
  
      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
  </div>
  