<p-toast></p-toast>
<p-dialog [(visible)]="versionDialog" [style]="{width: '450px'}" header="Version Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="app">Application</label>
      <p-dropdown [options]="apps" optionLabel="APP_NAME" 
      optionValue="APP_ID" [(ngModel)]="selectApp" filter="true" placeholder="Select a Application">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="name">Version name </label>
      <input id="name" type="text" [(ngModel)]="version.VERSION_NAME" pInputText required autofocus />
      <small class="p-invalid" *ngIf="submitted && !version.VERSION_NAME">VERSION_NAME code is required.</small>
    </div>
    <div class="p-field">
      <label for="description">Description </label>
      <input id="description" type="text" [(ngModel)]="version.DESCRIPTION" pInputText required />
      <small class="p-invalid" *ngIf="submitted && !version.DESCRIPTION">DESCRIPTION name is required.</small>
    </div>
    <div class="p-field ">
      <label for="releaseDate">Release Date</label>
      <p-calendar [(ngModel)]="dateValue" inputId="basic" dateFormat="dd/mm/yy" [showIcon]="true" required></p-calendar>
    </div>
  </ng-template>
 

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check"
      class="p-button-text" (click)="saveVersion()"></button>
  </ng-template>
</p-dialog>
