<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-1">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedMenus()" [disabled]="!selectedFiles2 || !selectedFiles2.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-treeTable [value]="files2" [columns]="cols" selectionMode="checkbox" [(selection)]="selectedFiles2">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <h5 class="p-mt-4">Manage Menus</h5>
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <div class="p-mr-2">
                <p-dropdown filter="true" dataKey="MENU_ID" placeholder="Select a Application">
                </p-dropdown>
              </div>
              <div>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search..." />
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
              <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
              {{rowData[col.field]}}
            </td>
            <td>
              <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-mr-2"
                (click)="addMenuChildren(rowData);"></button>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editmenu(rowData)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deletemenu(rowData)"></button>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <app-menu-add #menuAdd [menuChildren]="menu" (dathangEvent)="loadData()"></app-menu-add>
    <app-menu-edit #menuEdit (editEvent)="loadData()"></app-menu-edit>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
