<div class="p-grid dashboard">
    <div class="p-col-12 schedule">
        <p-panel header="Calendar" [style]="{'height':'100%'}">
            <p-fullCalendar [events]="events" [options]="fullcalendarOptions"></p-fullCalendar>
        </p-panel>
    </div>
</div>
