<p-dialog [(visible)]="addDialog" [style]="{width: '450px'}" [closable]="true" (onHide)="hide()" header="Thêm/Sửa sinh viên đăng kí" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Sinh viên</label>
            <p-multiSelect [options]="users" [(ngModel)]="selectUsers"></p-multiSelect>
            <small class="p-invalid" *ngIf="submitted && !course.title ">Full name is required.</small>
          </div>
          <div class="p-field">
            <label for="name">Chỉ được chỉnh sửa thông tin sinh viên đăng kí khi có yêu cầu từ sinh viên</label>
          </div>
          <div class="p-field">
            <label for="name">Hoặc các trường hợp yêu cầu từ nhà trường</label>
          </div>
          
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hide()"></button>
          
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
</p-dialog>
