<p-dialog [(visible)]="menuAddDialog" [style]="{width: '450px'}" [closable]="true" (onHide)="hideDialog()" header="Menu Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Application</label>
            <p-dropdown 
              [options]="apps" 
              [(ngModel)]="selectedApps" 
              [showClear]="true"
              filter="true"
              optionLabel="APP_NAME" 
              placeholder="Select a Application"
              autofocus
              optionValue="APP_ID" >
              <ng-template ng-template let-item pTemplate="item">
                <div>{{item.value.APP_NAME}}</div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="p-field">
            <label for="name">Menu parent</label>
            <input disabled="true" type="text" pInputText id="path" [(ngModel)]="menu.PARENT_ID" required/>
          </div>
          <div class="p-field">
            <label for="name">Menu name</label>
            <input type="text" pInputText id="menuName" [(ngModel)]="menu.MENU_NAME" required/>
            <small class="p-invalid" *ngIf="submitted && !menu.MENU_NAME ">Menu name is required.</small>
          </div>
          <div class="p-field">
            <label for="name">Path</label>
            <input type="text" pInputText id="path" [(ngModel)]="menu.ROUTE_PATH" required/>
            <small class="p-invalid" *ngIf="submitted  && !menu.ROUTE_PATH">Path is required.</small>
          </div>
        <div class="p-field">
          <label for="perCategory">Icon</label>
          <p-dropdown [filter]="true" filterBy="properties.name" [options]="filteredIcons" [(ngModel)]="selectedIcon" optionLabel="properties.name" [showClear]="true" placeholder="Select a icon">
            <ng-template let-item pTemplate="selectedItem">
                <div class="p-d-flex p-ai-center"  *ngIf="selectedIcon">
                  <i class="pi pi-{{selectedIcon.properties.name}}" style="width: 20px"></i>
                    <div>{{selectedIcon.properties.name}}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="p-d-flex p-ai-center">
                    <i class="pi pi-{{item.value.properties.name}}" style="width: 20px"></i>
                    <div>pi-{{item.value.properties.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <small class="p-invalid" *ngIf="submitted && !selectedIcon">Icon is required.</small>
        </div>
        
        
       
         
          <div class="p-field">
            <label for="name">Priority</label>
            <input type="text" pInputText id="priority" [(ngModel)]="menu.PRIORITY" required/>
            <!-- <small class="p-invalid" *ngIf="submitted && !menu.PRIORITY">PRIORITY is required.</small> -->
          </div>
          
          
          <!-- <div class="p-field-checkbox">
            <p-checkbox 
                  [binary]="true"
                  [value]="status" 
                  [(ngModel)]="status" 
                  name="chb"
                  [disabled]="false" ></p-checkbox>
            <label for="ch">Trạng thái</label>
           </div> -->
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveMenu()"></button>
        </ng-template>
</p-dialog>
