<p-toast></p-toast>
<p-dialog [(visible)]="componentDialog" [style]="{width: '550px'}" (onHide)="hideDialog()" header="Permission Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="app">Application</label>
      <p-dropdown [options]="apps" optionLabel="APP_NAME" 
        optionValue="APP_ID" [(ngModel)]="selectApp" filter="true" placeholder="Select a Application">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="name">Support</label>
      <p-dropdown  [options]="supporters" optionLabel="SUPPORT_NAME" 
      optionValue="SUPPORT_ID"  [(ngModel)]="selectedSupporters" filter="true"
        placeholder="Select Supporters">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="name">Component name </label>
      <input id="name" type="text" [(ngModel)]="component.COMPONENT_NAME" pInputText required />
      <small class="p-invalid" *ngIf="submitted && !component.COMPONENT_NAME">Component name is required.</small>
    </div>
    <div class="p-field">
      <label for="description">Description </label>
      <input id="description" type="text" [(ngModel)]="component.DESCRIPTION" pInputText required />
    </div>
    <div class="p-field-checkbox">
      <p-checkbox 
            [binary]="true"
            [value]="status" 
            [(ngModel)]="status" 
            name="chb"
            [disabled]="false" ></p-checkbox>
      <label for="ch">Trạng thái</label>
     </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" [disabled]="!component.COMPONENT_NAME" icon="pi pi-check"
      class="p-button-text" (click)="saveComponent(component)"></button>
  </ng-template>
</p-dialog>