<p-dialog [(visible)]="addDialog" [style]="{width: '750px'}" [closable]="true" (onHide)="hide()" header="Thêm mới" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Tiêu đề</label>
            <input type="text" pInputText id="menuName" [(ngModel)]="course.title" required/>
            <small class="p-invalid" *ngIf="submitted && !course.title ">Full name is required.</small>
          </div>
          <div class="p-field">
            <label for="name">Nội dung</label>
            <input type="text" pInputText id="menuName" [(ngModel)]="course.content" required/>
            <small class="p-invalid" *ngIf="submitted && !course.content ">Full name is required.</small>
          </div>
          <div class="p-field">
            <label for="name">Người giảng dạy</label>
            <p-dropdown placeholder="Chọn người giảng dạy" [options]="teachers" [(ngModel)]="selectTeacher"></p-dropdown>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
              <label for="price">Ngày bắt đầu</label>
              <p-calendar  [(ngModel)]="course.start" dateFormat="dd/mm/yy" ></p-calendar>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="price">Ngày kết thúc</label>
                <p-calendar  [(ngModel)]="course.end" dateFormat="dd/mm/yy" ></p-calendar>
            </div>
            
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
              <label for="price">Link học</label>
              <input id="lastname2" type="text" [(ngModel)]="course.link" pInputText required>
              <small class="p-invalid" *ngIf="submitted && !course.link">Link is required.</small>
            </div>
            <div  class="p-field p-col-12 p-md-3">
              <label for="quantity">Trạng thái</label>
              <p-dropdown [options]="status" [(ngModel)]="selectStatus"></p-dropdown>
            </div>
            <div  class="p-field p-col-12 p-md-3">
                <label for="quantity">Tổng số sinh viên</label>
                <input id="lastname2" type="text" [(ngModel)]="course.count" pInputText required>
              </div>
          </div>
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hide()"></button>
          
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
</p-dialog>
