<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" [columns]="cols" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedUsers"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Users</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Full Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="category">User name <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="category">Login detail <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="category">Groups <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>
              <img src="assets/layout/images/avatar.png"
                style="width: 50px; margin-right: 1em; vertical-align: middle;">
              {{user.name}}
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  {{user.description}}
                </div>
                <div class="p-col-12">
                  Mail:
                  <a href="mailto:tienlt.it@evnspc.vn">
                    tienlt.it@evnspc.vn
                  </a>
                </div>
                <div class="p-col-12">
                  Mobile:
                  <a href="tel: 0973707241">
                    0973707241
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12">
                  <b>Count:</b> 1
                </div>
                <div class="p-col-12">
                  <b>Last:</b> 10:00 12/11/2020
                </div>
                <div class="p-col-12">
                  <b>Last failed login:</b> 12/11/2020
                </div>
                <div class="p-col-12">
                  <b>Current failed logins:</b> 0
                </div>
                <div class="p-col-12">
                  <b>Total failed logins:</b> 10
                </div>
              </div>
            </td>
            <td>
              <div class="container">
                <div class="item">
                  <a href="#">
                    KD
                  </a>
                </div>
                <div class="item">
                  <a href="#">
                    TC
                  </a>
                </div>
              </div>
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editUser(user)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteUser(user)"></button>
              <span>
                <button type="button" pButton pRipple icon="pi pi-bars" class="p-button-rounded"
                  (click)="actions.toggle($event)"></button>
                <p-menu #actions popup="popup" appendTo="body" [model]="items"></p-menu>
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{users ? users.length : 0 }} users.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <img [src]="'assets/demo/images/product/' + user.image" [alt]="user.image" class="product-image"
          *ngIf="user.image">
        <div class="p-field">
          <label for="organization">Organization</label>
          <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries"
            (completeMethod)="filterCountry($event)" field="name" [dropdown]="true" autofocus>
          </p-autoComplete>
        </div>
        <div class="p-field">
          <label for="department">Department</label>
          <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries"
            (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
          </p-autoComplete>
        </div>
        <div class="p-field">
          <label for="name">Employee</label>
          <span class="p-input-icon-left p-input-icon-right">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Search" />
            <i class="pi pi-search"></i>
          </span>
        </div>
        <div class="p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-7">
            <label for="price">Email</label>
            <input id="lastname2" type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-5">
            <label for="quantity">Mobile</label>
            <p-inputNumber id="quantity"></p-inputNumber>
          </div>
        </div>
        <div class="p-field">
          <label for="name">User name</label>
          <input type="text" pInputText id="name" [(ngModel)]="user.name" required />
          <small class="p-invalid" *ngIf="submitted && !user.name">Name is required.</small>
        </div>
        <div class="p-field">
          <label for="name">Password</label>
          <input type="password" pPassword aria-describedby="username-help" />
          <small id="username-help">If you do not enter a password, one will be generated automatically.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
