<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-1">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" [columns]="cols" [rows]="10" [paginator]="true"
        [globalFilterFields]="['USER_NAME','FULL_NAME','EMAIL','MOBILE']" [(selection)]="selectedUsers"
        [rowHover]="true" dataKey="USER_ID"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Users</h5>
            <p-dropdown [options]="filterOrgs" [(ngModel)]="selectedFilterOrg" (onChange)="onChangeFilterOrg($event)"
              filter="true" dataKey="value">
            </p-dropdown>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="FULL_NAME" class="p-col-3">Full Name <p-sortIcon field="FULL_NAME"></p-sortIcon>
            </th>
            <th pSortableColumn="USER_NAME" class="p-col-3">User name <p-sortIcon field="USER_NAME"></p-sortIcon>
            </th>
            <th class="p-col-2">Login detail</th>
            <th class="p-col-2">Groups</th>
            <th class="p-col-2">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>
              <img src="assets/layout/images/avatar.png"
                style="width: 50px; margin-right: 1em; vertical-align: middle;">
              <a *ngIf="user.STATUS === 1; else deactiveFullname " routerLink="/usermng/user-detail/{{user.USER_ID}}">
                {{user.FULL_NAME}}
              </a>
              <ng-template #deactiveFullname>
                <a routerLink="/usermng/user-detail/{{user.USER_ID}}" style="text-decoration: line-through;">
                  {{user.FULL_NAME}}
                </a>
              </ng-template>
            </td>
            <td>
              <div class="p-grid">
                <div class="p-col-12" *ngIf="user.STATUS === 1; else deActiveUsername">
                  {{user.USER_NAME}}
                </div>
                <ng-template #deActiveUsername>
                  <div class="p-col-12" style="text-decoration: line-through;">
                    {{user.USER_NAME}}
                  </div>
                  <div class="p-col-12">
                    <div *ngIf="user.STATUS === 0; else isLocked" class="p-col-12">
                      (expired)
                    </div>
                    <ng-template #isLocked>
                      (locked)
                    </ng-template>
                  </div>
                </ng-template>
                <div class="p-col-12">
                  Mail:
                  <a href="mailto:{{user.EMAIL}}">
                    {{user.EMAIL}}
                  </a>
                </div>
                <div class="p-col-12">
                  Mobile:
                  <a href="tel:{{user.MOBILE}}">
                    {{user.MOBILE}}
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="p-grid" *ngFor="let attribute of user.ATTRIBUTES">
                <div
                  *ngIf="attribute.ATTRIBUTE_NAME === 'login.count' && attribute.ATTRIBUTE_VALUE === '0'; else hasLogin"
                  class="p-col-12">
                  Never logged in
                </div>
                <ng-template #hasLogin>
                  <div *ngIf="attribute.ATTRIBUTE_NAME === 'login.count'" class="p-col-12">
                    <b>Count:</b> {{attribute.ATTRIBUTE_VALUE}}
                  </div>
                  <div *ngIf="attribute.ATTRIBUTE_NAME === 'login.lastLoginMillis'" class="p-col-12">
                    <b>Last:</b> {{attribute.ATTRIBUTE_VALUE}}
                  </div>
                  <div *ngIf="attribute.ATTRIBUTE_NAME === 'login.lastFailedLoginMillis'" class="p-col-12">
                    <b>Last failed login:</b> {{attribute.ATTRIBUTE_VALUE | date:'dd/MM/yyyy'}}
                  </div>
                  <div *ngIf="attribute.ATTRIBUTE_NAME === 'login.currentFailedCount'" class="p-col-12">
                    <b>Current failed logins:</b> {{attribute.ATTRIBUTE_VALUE}}
                  </div>
                  <div *ngIf="attribute.ATTRIBUTE_NAME === 'login.totalFailedCount'" class="p-col-12">
                    <b>Total failed logins:</b> {{attribute.ATTRIBUTE_VALUE}}
                  </div>
                </ng-template>
              </div>
            </td>
            <td>
              <div class="container">
                <div class="item" *ngFor="let row of user.GROUPS">
                  <a href="#">
                    {{row.GROUP_NAME}}
                  </a>
                </div>
              </div>
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editUser(user)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteUser(user)"></button>
              <span>
                <button type="button" pButton pRipple icon="pi pi-bars" class="p-button-rounded"
                  (click)="actions.toggle($event)"></button>
                <p-menu #actions popup="popup" appendTo="body" [model]="items"></p-menu>
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{users ? users.length : 0 }} users.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="userDialog"  header="User Details" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="organization">Organization</label>
          <p-dropdown [options]="orgs" [(ngModel)]="selectedOrg" filter="true" placeholder="Select a Organization"
            required autofocus dataKey="value" (onChange)="onChangeOrg($event)">
          </p-dropdown>
          <small class="p-invalid" *ngIf="submitted && !selectedOrg">Organization is required.</small>
        </div>
        <div class="p-field">
          <label for="department">Department</label>
          <p-dropdown [options]="depts" [(ngModel)]="selectedDept" filter="true" required
          (onChange)="onChangeDept($event)" placeholder="Select a Department" dataKey="value">
          </p-dropdown>
        </div>
        <div class="p-field">
          <label for="name">Employee</label>
          <p-dropdown [options]="employs" [(ngModel)]="selectedEmploy" filter="true" placeholder="Select a Employee"
            required dataKey="value" (onChange)="onChangeEmploy()">
          </p-dropdown>
          <small class="p-invalid" *ngIf="submitted && !selectedOrg">Employee is required.</small>
        </div>
        <div class="p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-7">
            <label for="email">Email</label>
            <input id="email" [(ngModel)]="user.EMAIL" type="email" pInputText required>
            <small class="p-invalid" *ngIf="submitted && !user.EMAIL">Email is required.</small>
          </div>
          <div class="p-field p-col-12 p-md-5">
            <label for="mobile">Mobile</label>
            <input id="mobile" [(ngModel)]="user.MOBILE" type="tel" pInputText>
          </div>
        </div>
        <div class="p-field">
          <label for="userName">User name</label>
          <input id="userName" type="text" [(ngModel)]="user.USER_NAME" pInputText required />
          <small class="p-invalid" *ngIf="submitted && !user.USER_NAME">User name is required.</small>
        </div>
        <div class="p-field">
          <label for="name">Password</label>
          <input type="password" [(ngModel)]="user.PASSWORD" pPassword aria-describedby="username-help" />
          <small id="username-help">If you do not enter a password, one will be generated automatically.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
