<div class="p-grid">
    <div class="p-col-12">
  
      <p-toast></p-toast>
  
      <div class="card">
        <p-toolbar styleClass="p-mb-1">
          <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedSupporters()" [disabled]="!selectedSupporters || !selectedSupporters.length"></button>
          </ng-template>
  
          <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
  
        <p-table #dt [value]="supporters" [columns]="cols" [rows]="10" [paginator]="true"
          [globalFilterFields]="['SUPPORT_NAME','EMAIL','SKYPE','APP_NAME']" [(selection)]="selectedSupporters"
          [rowHover]="true" dataKey="SUPPORT_ID" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Manage Supporters</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name" class="p-col-3">Full Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="category" class="p-col-2">Contact <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th pSortableColumn="category" class="p-col-2">Social <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th pSortableColumn="category" class="p-col-3">Apps supporter <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th class="p-col-2" style="text-align: center;">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-supporter>
            <tr>
              <td>
                <p-tableCheckbox [value]="supporter"></p-tableCheckbox>
              </td>
              <td>
                <img src="assets/layout/images/avatar.png"
                style="width: 50px; margin-right: 1em; vertical-align: middle;">
                <a>
                  {{supporter.SUPPORT_NAME}}
                </a>
              </td>
              <td>
                <div class="p-grid">
                  <div class="p-col-12">
                    <b> Mail:</b>
                    <a href="mailto:{{supporter.EMAIL}}">
                      {{supporter.EMAIL}}
                    </a>
                  </div>
                  <div class="p-col-12">
                    <b>Mobile:</b>
                    <a href="tel: {{supporter.MOBILE}}">
                      {{supporter.MOBILE}}
                    </a>
                  </div>
                </div>
              </td>
              <td>
                <div class="p-grid">
                  <div class="p-col-12">
                    <b>Skype: </b> <a href="#"> {{supporter.SKYPE}}</a>
                  </div>
                  <div class="p-col-12">
                    <b>Zalo:</b> {{supporter.ZALO}}
                  </div>
                  <div class="p-col-12">
                    <b>Viber:</b> {{supporter.VIBER}}
                  </div>
                </div>
              </td>
              <td>
                <div class="p-grid">
                  <div class="p-col-12" *ngFor="let item of supporter.APPS">
                    <a href="{{item.appAddress}}" target="_blank">
                      {{item.appName}}
                    </a>
                  </div>
                  
                </div>
              </td>
              <td style="text-align: center;">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="editSupporter(supporter)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                  (click)="deleteSupporter(supporter)"></button>
                <span>
                  <button type="button" pButton pRipple icon="pi pi-bars" class="p-button-rounded"
                    (click)="actions.toggle($event)"></button>
                  <p-menu #actions popup="popup" appendTo="body" [model]="items"></p-menu>
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{supporters ? supporters.length : 0 }} supporters.
            </div>
          </ng-template>
        </p-table>
      </div>
  
      <p-dialog [(visible)]="supporterDialog" [style]="{width: '500px'}" header="Supporter Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          
            <div class="p-field">
              <label for="organization">Organization</label>
              <p-dropdown [options]="orgs" [(ngModel)]="selectedOrg" filter="true" placeholder="Select a Organization"
                 dataKey="value" (onChange)="onChangeOrg($event)">
              </p-dropdown>
              <small class="p-invalid" *ngIf="submitted && !selectedOrg">Organization is required.</small>
            </div>
            <!-- <div class="p-field">
              <label for="organization">Organization</label>
              <p-dropdown [options]="orgs" [(ngModel)]="selectedOrg" placeholder="Select a Organization" >
              </p-dropdown>
              <small class="p-invalid" *ngIf="submitted && !selectedOrg">Organization is required.</small>
            </div> -->
            <div class="p-field">
              <label for="department">Department</label>
              <p-dropdown [options]="depts" [(ngModel)]="selectedDept" filter="true" required
              (onChange)="onChangeDept($event)" placeholder="Select a Department" dataKey="value">
              </p-dropdown>
              <small class="p-invalid" *ngIf="submitted && !selectedDept">Dept is required.</small>
            </div>
            <div class="p-field">
              <label for="name">Employee</label>
              <p-dropdown [options]="employs" [(ngModel)]="selectedEmploy" filter="true" placeholder="Select a Employee"
                required dataKey="value" (onChange)="onChangeEmploy($event)" >
              </p-dropdown>
              <small class="p-invalid" *ngIf="submitted && !selectedOrg">Employee is required.</small>
            </div>
          
          <div class="p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-7">
              <label for="price">Email</label>
              <input id="lastname2" type="text" [(ngModel)]="supporter.EMAIL" pInputText required>
              <small class="p-invalid" *ngIf="submitted && !supporter.EMAIL">Email is required.</small>
            </div>
            <div class="p-field p-col-12 p-md-5">
              <label for="quantity">Mobile</label>
              <input id="lastname3" type="text" [(ngModel)]="supporter.MOBILE" pInputText>
              <small class="p-invalid" *ngIf="submitted && !supporter.MOBILE">MOBILE is required.</small>
            </div>
          </div>
          <div class="p-field">
            <label for="skype">Skype account</label>
            <input type="text" pInputText id="skype" [(ngModel)]="supporter.SKYPE" />
          </div>
          <div class="p-field">
            <label for="zalo">Zalo account</label>
            <input type="text" pInputText id="zalo" [(ngModel)]="supporter.ZALO" />
          </div>
          <div class="p-field">
            <label for="viber">Viber account</label>
            <input type="text" pInputText id="viber" [(ngModel)]="supporter.VIBER" />
          </div>
          <div class="p-field">
            <label for="name">App Name</label>
            <p-multiSelect [options]="apps" [(ngModel)]="selectedApps" dataKey="APP_ID" selectedItemsLabel="{0} app được chọn" defaultLabel="Select a apps" optionLabel="APP_NAME" optionValue="APP_ID" ></p-multiSelect>
          </div>
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSupporter()"></button>
        </ng-template>
      </p-dialog>
  
      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
  </div>
  