<p-dialog [(visible)]="editDialog" [style]="{width: '750px'}" [closable]="true" (onHide)="hide()" header="Thêm mới" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Họ và tên</label>
            <input type="text" pInputText id="menuName" [(ngModel)]="user.fullname" required/>
            <small class="p-invalid" *ngIf="submitted && !user.fullname ">Full name is required.</small>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-7">
              <label for="price">Ngày sinh</label>
              <p-calendar  [(ngModel)]="date" dateFormat="dd/mm/yy" ></p-calendar>
            </div>
            <div class="p-field p-col-12 p-md-5">
              <label for="quantity">Số điện thoại</label>
              <input id="lastname3" type="text" [(ngModel)]="user.phone" pInputText>
            </div>
          </div>
          <div class="p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-7">
              <label for="price">CMND</label>
              <input id="lastname2" type="text" [(ngModel)]="user.cmnd" pInputText required>
              <small class="p-invalid" *ngIf="submitted && !user.cmnd">CMND is required.</small>
            </div>
            <div class="p-field p-col-12 p-md-5">
              <label for="quantity">Giới tính</label>
              <p-dropdown [options]="sex" [(ngModel)]="selectSex"></p-dropdown>
            </div>
          </div>
          
          <div class="p-field">
            <label for="name">Địa chỉ</label>
            <input type="text" pInputText id="menuName" [(ngModel)]="user.address" required/>
            <small class="p-invalid" *ngIf="submitted && !user.address ">Address is required.</small>
          </div>
          <div class="p-field">
            <label for="name">Email</label>
            <input type="text" pInputText id="menuName" [(ngModel)]="user.email" required/>
            <small class="p-invalid" *ngIf="submitted && !user.email">Email is required.</small>
          </div>
          
          <div class="p-field">
            <label for="name">Loại tài khoản</label>
            <p-dropdown [options]="typeUser" [(ngModel)]="selectTypeUser"></p-dropdown>
          </div>
          

          
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hide()"></button>
          
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
</p-dialog>
