<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteselectedGroups()" [disabled]="!selectedGroups || !selectedGroups.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="groups" [columns]="cols" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','description','representative.name','status']" [(selection)]="selectedGroups"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Groups</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" class="p-col-3">Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description" class="p-col-3">Description <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity" style="text-align: center;" class="p-col-2">Users <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus" style="text-align: center;" class="p-col-2">Active <p-sortIcon field="inventoryStatus">
              </p-sortIcon>
            </th>
            <th class="p-col-2"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
          <tr>
            <td>
              <p-tableCheckbox [value]="group"></p-tableCheckbox>
            </td>
            <td>{{group.name}}</td>
            <td>{{group.description}}</td>
            <td style="text-align: center;">{{group.quantity}}</td>
            <td style="text-align: center;">
              <p-checkbox name="chb" value="category" [disabled]="true"></p-checkbox>
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editGroup(group)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteGroup(group)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{groups ? groups.length : 0 }} groups.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="groupDialog" [style]="{width: '450px'}" header="Group Details" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="name">Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="group.name" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !group.name">Name is required.</small>
        </div>
        <div class="p-field">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea [(ngModel)]="group.description" required rows="3"
            cols="20"></textarea>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveGroup()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
