<p-toast></p-toast>
<p-toolbar styleClass="p-mb-1">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelected()" [disabled]="!selectUsers || !selectUsers.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
      <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
        (click)="dt.exportCSV()"></button> -->
    </ng-template>
  </p-toolbar>
<p-table  #dt 
[value]="courses" 
[rows]="10" 
[columns]="cols"
[paginator]="true" 
[globalFilterFields]="['fullname','cmnd','type',
'address','dob','sex','email','phone']"
[(selection)]="selectCourses" 
[rowHover]="true" 
dataKey="_id"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Courses</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Tên môn học</th>
            <th>Người dạy</th>
            <th>Link học</th>
            <th>Ngày bắt đầu/Ngày kết thúc</th>
            <th>Tổng sinh viên/Đã đăng kí</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr>
            <td>
                <p-tableCheckbox [value]="course"></p-tableCheckbox>
            </td>
            <td>
                {{course.title}}
              </td>
              <td>
                {{course.author.fullname || ''}}
            </td>
            <td>{{course.link}}</td>
            <td>
                <div class="p-grid">
                    <div class="p-col-12">
                      Ngày bắt đầu: {{course.start | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="p-col-12">
                      Ngày kết thúc: {{course.end | date: 'dd/MM/yyyy'}}
                    </div>
                  </div>
            </td>
            <td>
                <div class="p-grid">
                    <div class="p-col-12">
                      Tổng sinh viên: {{course.count || 0}}
                    </div>
                    <div class="p-col-12">
                      Đã đăng kí: {{course.students.length || 0}}
                    </div>
                  </div>
            </td>
            <td>{{loadType(course.type)}}</td>
            
            <td style="text-align: center;">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                (click)="openEdit(course)"  ></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="addUser(course)"  ></button>
              </td>
        </tr>
    </ng-template>
</p-table>
<app-subject-add #subjectAdd  (addEvent)="loadData()" ></app-subject-add>
<app-subject-edit #subjectEdit  (addEvent)="loadData()"></app-subject-edit>
<app-subject-view #subjectUser  (addEvent)="loadData()"></app-subject-view>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>