<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-1">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="delSelectedVersion()" [disabled]="!selectedVersions || !selectedVersions.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="versions" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','description','representative.name','status']" [(selection)]="selectedVersions"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <h5 class="p-mt-4">Manage Versions</h5>
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <div class="p-mr-2">
                <p-dropdown filter="true" dataKey="value" placeholder="Select a Application">
                </p-dropdown>
              </div>
              <div>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search..." />
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" class="p-col-2">Version Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description" class="p-col-2">Description <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="category" class="p-col-2">Release Date <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="id" class="p-col-2">App <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus" class="p-col-2" style="text-align: center;">Status <p-sortIcon field="inventoryStatus">
              </p-sortIcon>
            </th>
            <th class="p-col-2" style="text-align: center;">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-version>
          <tr>
            <td>
              <p-tableCheckbox [value]="version"></p-tableCheckbox>
            </td>
            <td>
              {{version.VERSION_NAME}}
            </td>
            <td>
              {{version.DESCRIPTION}}
            </td>
            <td>
              {{convertDate(version.RELEASE_DATE) || ''}}
            </td>
            <td>
              {{version.APP_NAME}}
            </td>
            <td style="text-align: center;"><span
                [class]="'product-badge status-' + colsPending[0].field">{{version.STATUS ? 'Released' : 'Unreleased'}}</span>
            </td>
            <td style="text-align: center;">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editVersion(version)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteVersion(version)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{versions ? versions.length : 0 }} versions.
          </div>
        </ng-template>
      </p-table>
    </div>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <app-version-add (callEvent)="loadData()" #versionAdd></app-version-add>
  </div>
</div>
