<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-1">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="delSelectedComponent()" [disabled]="!selectedComponents || !selectedComponents.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [columns]="cols" [value]="components" [rows]="10" [paginator]="true"
        [globalFilterFields]="['COMPONENT_NAME','DESCRIPTION','APP_NAME','SUPPORT_NAME','ACTIVE']" [(selection)]="selectedComponents"
        [rowHover]="true" dataKey="COMPONENT_ID" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-grid">
            <div class="p-col-6 p-d-flex p-jc-start">
              <h5 class="p-mt-4">Manage Components</h5>
            </div>
            <div class="p-col-6 p-d-flex p-jc-end">
              <div class="p-mr-2">
                <p-dropdown filter="true" dataKey="value" placeholder="Select a Application">
                </p-dropdown>
              </div>
              <div>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search..." />
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" class="p-col-2">Component Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description" class="p-col-2">Description <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="category" class="p-col-2">Supporter <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="id" class="p-col-2">App <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="ACTIVE" style="text-align: center;" class="p-col-2">Active <p-sortIcon field="ACTIVE">
            </p-sortIcon>
          </th>
            <th class="p-col-2" style="text-align: center;">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-component>
          <tr>
            <td>
              <p-tableCheckbox [value]="component"></p-tableCheckbox>
            </td>
            <td>
              {{component.COMPONENT_NAME}}
            </td>
            <td>
              {{component.DESCRIPTION}}
            </td>
            <td>
              {{component.SUPPORT_NAME}}
            </td>
            <td>
              {{component.APP_NAME}}
            </td>
            <td style="text-align: center;">
              <p-checkbox 
                [binary]="component.ACTIVE"
                [value]="component.ACTIVE" 
                [editable]="false"  
                [(ngModel)]="component.ACTIVE" 
                name="chb"
                [disabled]="true" ></p-checkbox>
            </td>
            <td style="text-align: center;">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editComponent(component)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                (click)="deleteComponent(component)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{components ? components.length : 0 }} components.
          </div>
        </ng-template>
      </p-table>
    </div>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <app-component-add #componentAdd (addEvent)="loadData()"></app-component-add>
  </div>
</div>
