<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedApp()" [disabled]="!selectedApps || !selectedApps.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="apps" [columns]="cols" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','description','representative.name','status']" [(selection)]="selectedApps"
        [rowHover]="true" dataKey="APP_ID" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Groups</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" class="p-col-2">APP_NAME <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description" class="p-col-1">APP_KEY <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity"  class="p-col-2">APP_ADDRESS <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus"  class="p-col-1">DESCRIPTION <p-sortIcon field="inventoryStatus">
              </p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus" style="text-align: center;"  class="p-col-1">APP_TYPE_ID <p-sortIcon field="inventoryStatus">
            </p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus" style="text-align: center;"  class="p-col-1">APP_CAT_ID <p-sortIcon field="inventoryStatus">
            </p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus" style="text-align: center;" class="p-col-1">ACTIVE <p-sortIcon field="inventoryStatus">
            </p-sortIcon>
            </th>
            
            <th pSortableColumn="inventoryStatus" style="text-align: center;" class="p-col-1">ACTION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-app>
          <tr>
            <td>
              <p-tableCheckbox [value]="app"></p-tableCheckbox>
            </td>
            <td>
              <img *ngIf="app.LOGO" [src]="convertByteToB64code(app.LOGO[0].FILE_CONTENT,app.LOGO[0].FILE_TYPE)"
              style="width: 50px; margin-right: 1em; vertical-align: middle;">
              <a>
                {{app.APP_NAME}}
              </a>
            </td>
            <td>{{app.APP_KEY}}</td>
            <td>{{app.APP_ADDRESS}}</td>
            <td>{{app.DESCRIPTION}}</td>
            <td>{{app.APP_TYPE_ID}}</td>
            <td>{{app.APP_CAT_ID}}</td>
            <td style="text-align: center;">
              <p-checkbox 
                [binary]="app.ACTIVE"
                value="app.ACTIVE" 
                [value]="app.ACTIVE" 
                [editable]="false"  
                [(ngModel)]="app.ACTIVE" 
                name="chb"
                [disabled]="true" ></p-checkbox>
            </td>
            
            <td style="text-align: center;">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editApp(app)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteApp(app)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{apps ? apps.length : 0 }} apps.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="appDialog" [style]="{width: '550px'}" header="App Details" [modal]="true" [closable]="false"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field" style="    justify-content: center;
        align-items: center;
        display: flex;">
          <img *ngIf="app.LOGO" [src]="convertByteToB64code(app.LOGO[0].FILE_CONTENT,app.LOGO[0].FILE_TYPE)"
              style="width: 150px;  vertical-align: middle;">
        </div>
        <div class="p-field">
          <label for="name">APP_NAME</label>
          <input type="text" pInputText id="name" [(ngModel)]="app.APP_NAME" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !app.APP_NAME">APP_NAME is required.</small>
        </div>
        <div class="p-field">
          <label for="name">APP_KEY</label>
          <input type="text" pInputText id="name" [(ngModel)]="app.APP_KEY" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !app.APP_KEY">Name is required.</small>
        </div>
        <div class="p-field">
          <label for="name">APP_ADDRESS</label>
          <input type="text" pInputText id="name" [(ngModel)]="app.APP_ADDRESS" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !app.APP_ADDRESS">APP_ADDRESS is required.</small>
        </div>
        <div class="p-field">
          <label for="name">APP_DESCRIPTION</label>
          <input type="text" pInputText id="name" [(ngModel)]="app.DESCRIPTION" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !app.DESCRIPTION">APP_DESCRIPTION is required.</small>
        </div>
        <div class="p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6">
            <label >appTypes</label>
            <p-dropdown 
              placeholder="Chọn một appTypes"
              appendTo="body"
              [options]="appTypes" 
              optionLabel="APP_TYPE_NAME" 
              optionValue="APP_TYPE_ID" 
              [(ngModel)]="selectAppType" 
              [showClear]="true"
              filter="true"
            >
              <ng-template ng-template let-item pTemplate="item">
                <div>{{item.value.APP_TYPE_NAME}}</div>
              </ng-template>
              
            </p-dropdown>
            <small class="p-invalid" *ngIf="submitted && !selectAppType">selectAppType is required.</small>
          </div>
          <div class="p-field p-col-12 p-md-6">
            <label >appCategories</label>
            <p-dropdown 
              placeholder="Chọn một appCategories"
              appendTo="body"
              [options]="appCategories" 
              optionLabel="APP_CAT_NAME" 
              optionValue="APP_CAT_ID" 
              [(ngModel)]="selectAppCategory" 
              [showClear]="true"
              filter="true"
            >
              <ng-template ng-template let-item pTemplate="item">
                <div>{{item.value.APP_CAT_NAME}}</div>
              </ng-template>
              
            </p-dropdown>
            <small class="p-invalid" *ngIf="submitted && !selectAppCategory">selectAppCategory is required.</small>
          </div>
          
        </div>
       
        <div class="p-field-checkbox">
          <p-checkbox 
                [binary]="true"
                [value]="status" 
                [(ngModel)]="status" 
                name="chb"
                [disabled]="false" ></p-checkbox>
          <label for="ch">Trạng thái</label>
         </div>
        <p-fileUpload #fileInput name="file" [showUploadButton]="false" [showCancelButton]="false" 
          maxFileSize="200000000" accept="image/*,.csv,.xml,.doc,.docx,.pdf"> 
        </p-fileUpload>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveApp()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
