<p-toast></p-toast>
<p-dialog [(visible)]="perCategoryDialog" [style]="{width: '450px'}" header="Permission Category Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="perCode">Permission category code</label>
      <input id="perCode" type="text" [(ngModel)]="per.PER_CODE" pInputText required autofocus />
      <small class="p-invalid" *ngIf="submitted && !per.PER_CODE">Permission code is required.</small>
    </div>
    <div class="p-field">
      <label for="perName">Permission category name</label>
      <input id="perName" type="text" [(ngModel)]="per.PER_NAME" pInputText required />
      <small class="p-invalid" *ngIf="submitted && !per.PER_NAME">Permission name is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" [disabled]="!per.PER_CODE || !per.PER_NAME" icon="pi pi-check"
      class="p-button-text"></button>
  </ng-template>
</p-dialog>